<!-- Login Section -->

<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h2>Bienvenido de Vuelta</h2>
      <p>Continúa tu preparación para el éxito</p>
    </div>

    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div
        class="form-group"
        [ngClass]="{
          error: showError() && !email.pristine,
          success: email.valid && !email.pristine
        }"
      >
        <label>Correo Electrónico</label>
        <input
          type="email"
          placeholder="tu@email.com"
          required
          formControlName="email"
        />
        @if ((email.invalid || email.pristine) && showError()) {
        <div [ngClass]="email.invalid ? 'error-message' : ''">
          @if (email.errors?.['required']) {
          <span> El correo electrónico es requerido </span>
          } @if (email.errors?.['pattern']) {
          <span> Por favor ingresa un correo válido </span>
          }
        </div>
        }
      </div>

      <div
        class="form-group"
        [ngClass]="{
          error: showError() && !password.pristine,
          success: password.valid && !password.pristine
        }"
      >
        <label>Contraseña</label>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          placeholder="Tu contraseña"
          required
          formControlName="password"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="toggle-password"
        >
          <i
            class="fa"
            [ngClass]="{
              'fa-eye': !showPassword(),
              'fa-eye-slash': showPassword()
            }"
          ></i>
        </button>

        @if ((password.invalid || password.pristine) && showError()) {
        <div [ngClass]="password.invalid ? 'error-message' : ''">
          @if (password.errors?.['required']) {
          <span> La contraseña es requerida </span>
          } @if (password.errors?.['passwordStrength']) {
          <span>
            La contraseña debe contener al menos 8 caracteres, una letra
            mayúscula, una minúscula, un número y un carácter especial.
          </span>
          }
        </div>
        }
      </div>

      <button type="submit" class="btn btn-primary btn-full">
        Iniciar Sesión
      </button>
    </form>
    <div class="auth-divider">
      <span>o continúa con</span>
    </div>

    <button class="btn btn-google btn-full" (click)="handleGoogleLogin()">
      <i class="fab fa-google"></i>
      Iniciar sesión con Google
    </button>
    <div class="auth-footer">
      <p>
        ¿No tienes cuenta? <a routerLink="{{ MapRoutes.signup }}">Regístrate</a>
      </p>
    </div>
  </div>
</div>
