<div class="hero-header">
    <nav class="nav">
        <div class="nav-brand">
            <i class="fas fa-graduation-cap"></i>
            <span>Ruta Admisión</span>
        </div>
        <div class="nav-links">
            <a routerLink="/login">
                <button class="btn btn-outline">Iniciar Sesión</button>
            </a>
            <a routerLink="/signup">
                <button class="btn btn-primary">Registrarse</button>
            </a>
            
        </div>
    </nav>
</div>