<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <h2>Crear Cuenta</h2>
      <p>Únete a miles de estudiantes que ya están preparándose</p>
    </div>
    <form class="auth-form" [formGroup]="signUpForm" (ngSubmit)="onSignup()">
      <div
        class="form-group"
        [ngClass]="{
          error: showError() && !name.pristine,
          success: name.valid && !name.pristine
        }"
      >
        <label>Nombre Completo</label>
        <input
          type="text"
          placeholder="Juan Pérez"
          formControlName="name"
          pristine
        />

        @if ((name.invalid || name.pristine) && showError()) {
        <div [ngClass]="name.invalid ? 'error-message' : ''">
          @if (name.errors?.['required']) {
          <span> El nombre es requerido </span>
          }
        </div>
        }
      </div>

      <div
        class="form-group"
        [ngClass]="{
          error: showError() && !email.pristine,
          success: email.valid && !email.pristine
        }"
      >
        <label>Correo Electrónico</label>
        <input
          type="email"
          placeholder="tu@email.com"
          required
          formControlName="email"
        />
        @if ((email.invalid || email.pristine) && showError()) {
        <div [ngClass]="email.invalid ? 'error-message' : ''">
          @if (email.errors?.['required']) {
          <span> El correo electrónico es requerido </span>
          } @if (email.errors?.['pattern']) {
          <span> Por favor ingresa un correo válido </span>
          }
        </div>
        }
      </div>
      <div
        class="form-group"
        [ngClass]="{
          error: showError() && !password.pristine,
          success: password.valid && !password.pristine
        }"
      >
        <label>Contraseña</label>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          placeholder="Mínimo 8 caracteres"
          formControlName="password"
        />

        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="toggle-password"
        >
          <i
            class="fa"
            [ngClass]="{
              'fa-eye': !showPassword(),
              'fa-eye-slash': showPassword()
            }"
          ></i>
        </button>

        @if ((password.invalid || password.pristine) && showError()) {
        <div [ngClass]="password.invalid ? 'error-message' : ''">
          @if (password.errors?.['required']) {
          <span> La contraseña es requerida </span>
          } @if (password.errors?.['passwordStrength']) {
          <span>
            La contraseña debe contener al menos 8 caracteres, una letra
            mayúscula, una minúscula, un número y un carácter especial.
          </span>
          }
        </div>

        }
      </div>
      <button type="submit" class="btn btn-primary btn-full">
        Crear Cuenta
      </button>
    </form>
    <div class="auth-footer">
      <p>
        ¿Ya tienes cuenta?
        <a routerLink="{{ MapRoutes.login }}">Inicia sesión</a>
      </p>
    </div>
  </div>
</div>
