<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h2>Crear Cuenta</h2>
            <p>Únete a miles de estudiantes que ya están preparándose</p>
        </div>
        <form class="auth-form" [formGroup]="signUpForm" (ngSubmit)="onSignup()">
            <div class="form-group" [ngClass]="
            {'error': name.invalid && !name.pristine, 
            'success' : name.valid && !name.pristine}">
                <label>Nombre Completo</label>
                <input type="text" placeholder="Juan Pérez" formControlName="name" pristine>
                <div class="error-message" [hidden]="name.valid || name.pristine">
                    @if (name.errors?.['required']) {
                    <span>
                        El nombre es requerido
                    </span>
                    }
                </div>
            </div>


            <div class="form-group" [ngClass]="
            {'error': email.invalid && !email.pristine, 
            'success' : email.valid && !email.pristine}">
                <label>Correo Electrónico</label>
                <input type="email" placeholder="tu@email.com" required formControlName="email">
                <div class="error-message" [hidden]="email.valid || email.pristine">
                    @if (email.errors?.['required']) {
                    <span>
                        El correo electrónico es requerido
                    </span>
                    }
                    @if (email.errors?.['pattern']) {
                    <span>
                        Por favor ingresa un correo válido
                    </span>
                    }
                </div>
            </div>
            <div class="form-group" [ngClass]="
            {'error': password.invalid && !password.pristine, 
            'success' : password.valid && !password.pristine}">

                <label>Contraseña</label>
                <input type="password" placeholder="Mínimo 8 caracteres" formControlName="password">
                <div class="error-message" [hidden]="password.valid || password.pristine">
                    @if (password.errors?.['required']) {
                    <span>
                        La contraseña es requerida
                    </span>
                    }
                    @if (password.errors?.['passwordStrength']) {
                    <span>
                        La contraseña debe contener al menos 8 caracteres, una letra mayúscula, una minúscula, un número y un carácter especial.
                    </span>
                    }
                </div>

            </div>
            <button type="submit" class="btn btn-primary btn-full" [disabled]="signUpForm.invalid">
                Crear Cuenta
            </button>
        </form>
        <div class="auth-footer">
            <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
        </div>
    </div>
</div>
